
body {
    font-family: 'Arial', sans-serif;
    background-color: #3E2723;
    color: #EFEBE9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.container {
    background-color: #6D4C41;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    margin-top: 20px;
}

h1 {
    color: #FFF3E0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-size: 1.1em;
    color: #FFF3E0;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
#month, #batch{width: 100%}
input[type="number"], input[type="text"], input[type="email"], select {
    background-color: #EFEBE9;
    color: #3E2723;
}

input:focus, select:focus {
    outline: none;
    border: 2px solid #6D4C41;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #4E342E;
    color: #FFF3E0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #6D4C41;
    transition: 0.3s ease;
}
